h2, ul, p {
  margin: 0;
}

#navbar {
  position: fixed;
  top: 0;
  width: calc(100% - 10px);
  background: linear-gradient(to right, #DF6D27, #B0521C);
  display: grid;
  grid-template-columns: 50% 50%;
  color: #FFFEF1;
  border: solid 5px #140F0C;
  align-items: center;
}

#logo {
  margin: 0 15px;
  font-family: 'Srisakdi', cursive;
  font-size: 225%;
}

#navbar ul {
  text-align: right;
}

.nav-link {
  list-style: none;
  display: block;
  margin-right: 15px;
}

#home-page {
  margin-top: 140px;
  overflow: hidden;
}

#home-page h2 {
  position: absolute;
  font-size: 60px;
  font-family: 'Srisakdi', cursive;
}

#home-pic {
  height: calc(100vh - 140px);
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("images/jimi-filipovski-189721-unsplash.jpg");
  background-size: auto 100%;
}

#home-pic p {
  font-size: 10px;
  position: absolute;
  bottom: 0;
}

/*Media Queries*/
@media only screen and (min-width: 768px) {
  .nav-link {
    display: inline;
  }
}
